/*! CSS Used from: /h5/static/index.2da1efab.css */
uni-modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;display:block;box-sizing:border-box;}
uni-modal .uni-modal{position:fixed;z-index:999;width:80%;max-width:300px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fff;text-align:center;border-radius:3px;overflow:hidden;}
uni-modal .uni-modal *{box-sizing:border-box;}
uni-modal .uni-modal__bd{word-wrap:break-word;word-break:break-all;white-space:pre-wrap;}
uni-modal .uni-modal__bd{padding:1.3em 1.6em 1.3em;min-height:40px;font-size:15px;line-height:1.4;color:#999;max-height:400px;overflow-x:hidden;overflow-y:auto;}
uni-modal .uni-modal__ft{position:relative;line-height:48px;font-size:18px;display:-webkit-box;display:-webkit-flex;display:flex;}
uni-modal .uni-modal__ft:after{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5);}
uni-modal .uni-modal__btn{display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);position:relative;cursor:pointer;}
uni-modal .uni-modal__btn:active{background-color:#eee;}
uni-modal .uni-modal__btn:after{content:" ";position:absolute;left:0;top:0;width:1px;bottom:0;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5);}
uni-modal .uni-modal__btn:first-child:after{display:none;}
uni-modal .uni-modal__btn_default{color:#353535;}
uni-modal .uni-modal__btn_primary{color:#007aff;}
uni-actionsheet{display:block;box-sizing:border-box;}
uni-actionsheet .uni-actionsheet{position:fixed;left:6px;right:6px;bottom:6px;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:999;visibility:hidden;-webkit-transition:visibility .3s,-webkit-transform .3s;transition:visibility .3s,-webkit-transform .3s;transition:transform .3s,visibility .3s;transition:transform .3s,visibility .3s,-webkit-transform .3s;}
uni-actionsheet .uni-actionsheet *{box-sizing:border-box;}
uni-actionsheet .uni-actionsheet__action,uni-actionsheet .uni-actionsheet__menu{border-radius:5px;background-color:#fcfcfd;}
uni-actionsheet .uni-actionsheet__action{margin-top:6px;}
uni-actionsheet .uni-actionsheet__cell{position:relative;padding:10px 6px;text-align:center;font-size:18px;text-overflow:ellipsis;overflow:hidden;cursor:pointer;}
uni-actionsheet .uni-actionsheet__cell:before{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #e5e5e5;color:#e5e5e5;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5);}
uni-actionsheet .uni-actionsheet__cell:active{background-color:#ececec;}
uni-actionsheet .uni-actionsheet__cell:first-child:before{display:none;}
@media screen and (min-width:500px) and (min-height:500px){
.uni-mask.uni-actionsheet__mask{background:none;}
uni-actionsheet .uni-actionsheet{width:300px;left:50%;right:auto;top:50%;bottom:auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;-webkit-transition:opacity .3s,visibility .3s;transition:opacity .3s,visibility .3s;}
uni-actionsheet .uni-actionsheet__menu{box-shadow:0 0 20px 5px rgba(0,0,0,.3);}
uni-actionsheet .uni-actionsheet__action{display:none;}
}
*{margin:0;-webkit-tap-highlight-color:transparent;}
body,html{-webkit-user-select:none;user-select:none;width:100%;height:100%;}
body{overflow-x:hidden;}
body,uni-page-body{background-color:var(--UI-BG-0);color:var(--UI-FG-0);}
[class^=uni-icon-]{display:inline-block;vertical-align:middle;font:normal normal normal 14px/1 uni;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;}
.uni-mask{position:fixed;z-index:999;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.5);}
html{--UI-BG:#fff;--UI-BG-1:#f7f7f7;--UI-BG-2:#fff;--UI-BG-3:#f7f7f7;--UI-BG-4:#4c4c4c;--UI-BG-5:#fff;--UI-FG:#000;--UI-FG-0:rgba(0,0,0,0.9);--UI-FG-HALF:rgba(0,0,0,0.9);--UI-FG-1:rgba(0,0,0,0.5);--UI-FG-2:rgba(0,0,0,0.3);--UI-FG-3:rgba(0,0,0,0.1);}
uni-app{width:100%;height:100%;}
uni-app{display:block;box-sizing:border-box;}
uni-page-wrapper{display:block;height:100%;position:relative;}
uni-page-body{display:block;box-sizing:border-box;width:100%;}
uni-page{display:block;width:100%;height:100%;}
uni-icon{display:inline-block;font-size:0;box-sizing:border-box;}
uni-icon>i{font:normal normal normal 14px/1 weui;}
uni-icon>i:before{margin:0;box-sizing:border-box;}
.uni-icon-clear:before{content:"\EA0F";}
.uni-icon-clear{color:#b2b2b2;}
uni-image{width:320px;height:240px;display:inline-block;overflow:hidden;position:relative;}
uni-image>div,uni-image>img{width:100%;height:100%;}
uni-image>img{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;display:block;position:absolute;top:0;left:0;opacity:0;}
uni-input{display:block;font-size:16px;line-height:1.4em;height:1.4em;min-height:1.4em;overflow:hidden;}
.uni-input-input,.uni-input-placeholder,.uni-input-wrapper{outline:none;border:none;padding:0;margin:0;text-decoration:inherit;}
.uni-input-wrapper{display:-webkit-box;display:-webkit-flex;display:flex;position:relative;width:100%;height:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.uni-input-input,.uni-input-placeholder{width:100%;}
.uni-input-placeholder{position:absolute;top:auto!important;left:0;color:grey;overflow:hidden;text-overflow:clip;white-space:pre;word-break:keep-all;pointer-events:none;line-height:inherit;}
.uni-input-input{position:relative;display:block;height:100%;background:none;color:inherit;opacity:1;font:inherit;line-height:inherit;letter-spacing:inherit;text-align:inherit;text-indent:inherit;text-transform:inherit;text-shadow:inherit;}
.uni-input-input:disabled{-webkit-text-fill-color:currentcolor;}
uni-radio{-webkit-tap-highlight-color:transparent;display:inline-block;cursor:pointer;}
uni-radio .uni-radio-wrapper{display:-webkit-inline-flex;display:-webkit-inline-box;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;align-items:center;vertical-align:middle;}
uni-radio .uni-radio-input{-webkit-appearance:none;appearance:none;margin-right:5px;outline:0;border:1px solid #d1d1d1;background-color:#fff;border-radius:50%;width:22px;height:22px;position:relative;}
@media (any-hover:hover){
uni-radio:not([disabled]) .uni-radio-input:hover{border-color:var(--HOVER-BD-COLOR,#007aff)!important;}
}
uni-radio .uni-radio-input.uni-radio-input-checked:before{font:normal normal normal 14px/1 uni;content:"\EA08";font-size:18px;position:absolute;top:50%;left:50%;transform:translate(-50%,-48%) scale(.73);-webkit-transform:translate(-50%,-48%) scale(.73);}
uni-radio-group{display:block;}
uni-resize-sensor,uni-resize-sensor>div{position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;}
uni-resize-sensor{display:block;z-index:-1;visibility:hidden;-webkit-animation:once-show 1ms;animation:once-show 1ms;}
uni-resize-sensor>div>div{position:absolute;left:0;top:0;}
uni-resize-sensor>div:first-child>div{width:100000px;height:100000px;}
uni-resize-sensor>div:last-child>div{width:200%;height:200%;}
uni-scroll-view{display:block;width:100%;}
.uni-scroll-view{position:relative;-webkit-overflow-scrolling:touch;max-height:inherit;}
.uni-scroll-view,.uni-scroll-view-content{width:100%;height:100%;}
uni-swiper-item{display:block;overflow:hidden;will-change:transform;position:absolute;width:100%;height:100%;cursor:grab;}
uni-swiper{display:block;height:150px;}
uni-swiper .uni-swiper-wrapper{overflow:hidden;position:relative;width:100%;height:100%;-webkit-transform:translateZ(0);transform:translateZ(0);}
uni-swiper .uni-swiper-slides{position:absolute;left:0;top:0;right:0;bottom:0;}
uni-swiper .uni-swiper-slide-frame{position:absolute;left:0;top:0;width:100%;height:100%;will-change:transform;}
uni-view{display:block;}
@media (prefers-color-scheme:dark){
html{--UI-BG-CLOLOR-ACTIVE:#373737;--UI-BORDER-CLOLOR-1:#373737;--UI-BG:#000;--UI-BG-0:#191919;--UI-BG-1:#1f1f1f;--UI-BG-2:#232323;--UI-BG-3:#2f2f2f;--UI-BG-4:#606060;--UI-BG-5:#2c2c2c;--UI-FG:#fff;--UI-FG-0:hsla(0,0%,100%,0.8);--UI-FG-HALF:hsla(0,0%,100%,0.6);--UI-FG-1:hsla(0,0%,100%,0.5);--UI-FG-2:hsla(0,0%,100%,0.3);--UI-FG-3:hsla(0,0%,100%,0.05);}
.uni-mask{background:rgba(0,0,0,.6);}
}
@media (prefers-color-scheme:dark){
uni-actionsheet .uni-actionsheet__action,uni-actionsheet .uni-actionsheet__menu{background-color:var(--UI-BG-2);}
uni-actionsheet .uni-actionsheet__cell:active{background-color:var(--UI-BG-CLOLOR-ACTIVE);}
uni-actionsheet .uni-actionsheet__cell:before{border-top-color:var(--UI-BORDER-CLOLOR-1);color:var(--UI-BORDER-CLOLOR-1);}
}
@media (prefers-color-scheme:dark){
uni-modal .uni-modal{color:var(--UI-FG-0);background-color:var(--UI-BG-2);}
uni-modal .uni-modal__bd{color:var(--UI-FG-1);}
uni-modal .uni-modal__btn:active{color:#aaa;background-color:var(--UI-BG-CLOLOR-ACTIVE);}
uni-modal .uni-modal__ft:after,uni-modal .uni-modal__btn:after{color:var(--UI-BORDER-CLOLOR-1);border-color:var(--UI-BORDER-CLOLOR-1);}
}
@media (prefers-color-scheme:dark){
uni-page-body{background-color:#191919;color:hsla(0,0%,100%,0.8);}
}
body::after{position:fixed;content:'';left:-1000px;top:-1000px;-webkit-animation:shadow-preload .1s;-webkit-animation-delay:3s;animation:shadow-preload .1s;animation-delay:3s;}
/*! CSS Used from: Embedded */
uni-view{color:#333;}
uni-text{color:#333;}
.box4-im1{color:#f7db9f;}
img,uni-image{pointer-events:none;}
body{max-width:436px;margin:auto!important;}
.hdhx{-webkit-animation:bamiao 2s linear infinite;animation:bamiao 2s linear infinite;}
.ffaa{display:flex;align-items:center;justify-content:center;}
.fftt{display:flex;align-items:center;}
/*! CSS Used from: Embedded */
.wrapper[data-v-4a9ad7e0]{z-index:1999;position:fixed;top:-46px;left:0;bottom:0;right:0;}
.wrapper .content_view[data-v-4a9ad7e0]{box-sizing:border-box;background:#fff;z-index:999;border:2px solid #ffde98;border-bottom:none;position:absolute;height:60%;left:0;bottom:0;right:0;border-top-left-radius:21px;border-top-right-radius:21px;}
.wrapper .content_view .title_view[data-v-4a9ad7e0]{height:46px;display:flex;justify-content:space-between;align-items:center;padding:0 5px;}
.wrapper .content_view .title_view .title[data-v-4a9ad7e0]{font-size:uni-font-size-sm;text-align:center;}
.wrapper .content_view .title_view .close_view[data-v-4a9ad7e0]{height:53px;width:53px;display:flex;justify-content:center;align-items:center;}
.wrapper .content_view .select_top[data-v-4a9ad7e0]{height:8%;display:flex;justify-content:start;align-items:center;box-sizing:border-box;padding:10px;position:relative;box-sizing:border-box;}
.wrapper .content_view .select_top .select_top_item[data-v-4a9ad7e0]{width:85px;font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.wrapper .content_view .select_top .indicator[data-v-4a9ad7e0]{position:absolute;width:32px;height:2px;background:#6a7bb9;left:17px;bottom:0;transition:left .3s ease;}
.wrapper .content_view .swiper[data-v-4a9ad7e0]{height:80%;position:relative;left:0;top:0;bottom:0;right:0;}
.wrapper .content_view .swiper .swiper-item[data-v-4a9ad7e0]{height:100%;}
.wrapper .content_view .swiper .swiper-item .scroll-view-item[data-v-4a9ad7e0]{height:100%;padding:0 10px;}
.wrapper .content_view .swiper .swiper-item .scroll-view-item .address_item[data-v-4a9ad7e0]{padding:5px 0;font-size:14px;display:flex;align-items:center;}
.wrapper .mask[data-v-4a9ad7e0]{position:absolute;top:0;left:0;bottom:0;right:0;background:#999;opacity:.7;}
/*! CSS Used from: Embedded */
body.pages-gonshi-index uni-page-body{background:#a86b2c;}
body.pages-gonshi-index{background:#a86b2c;}
.nihun[data-v-3f73cf35]{width:100%;height:480px;position:relative;background:url(/h5/static/image/gonshi/bg.png) no-repeat;background-size:100% 100%;}
.nihun .textd[data-v-3f73cf35]{width:30px;height:132px;}
.nihun .img1[data-v-3f73cf35]{position:absolute;left:69px;top:31px;-webkit-animation:hsnagxia-data-v-3f73cf35 6.5s linear infinite;animation:hsnagxia-data-v-3f73cf35 6.5s linear infinite;}
.nihun .img2[data-v-3f73cf35]{position:absolute;right:69px;top:31px;-webkit-animation:hsnagxia-data-v-3f73cf35 6.5s linear infinite;animation:hsnagxia-data-v-3f73cf35 6.5s linear infinite;}
.nihun .img3[data-v-3f73cf35]{position:absolute;left:42px;top:179px;-webkit-animation:hsnagxia-data-v-3f73cf35 6s linear infinite;animation:hsnagxia-data-v-3f73cf35 6s linear infinite;}
.nihun .img4[data-v-3f73cf35]{position:absolute;right:42px;top:179px;-webkit-animation:hsnagxia-data-v-3f73cf35 7s linear infinite;animation:hsnagxia-data-v-3f73cf35 7s linear infinite;}
.nihun .textds[data-v-3f73cf35]{width:170px;height:291px;position:absolute;left:50%;top:22px;-webkit-transform:translate(-50%);transform:translate(-50%);}
.mind[data-v-3f73cf35]{padding-bottom:53px;}
.mind uni-image[data-v-3f73cf35]{margin:0 auto 21px;display:block;}
.bottomd[data-v-3f73cf35]{width:202px;height:44px;background:url(/h5/static/image/gonshi/button.png) no-repeat;background-size:100% 100%;margin:32px auto 10px;}
.box4[data-v-3f73cf35]{margin:0px auto;color:#fff;font-size:16px;margin-top:21px;text-align:center;padding-bottom:32px;}
.box4-im1[data-v-3f73cf35]{text-decoration:underline;}
.texyu[data-v-3f73cf35]{padding:21px 5px 16px;border:2px solid #9b4230;width:100%;height:100%;}
.box3[data-v-3f73cf35]{width:357px;height:393px;padding:10px 18px;box-sizing:border-box;position:relative;margin:0px auto 26px;display:flex;flex-direction:column;margin-top:21px;background:#fffbef;}
.box3 .box3-2[data-v-3f73cf35]{border:2px solid #9b4230;font-size:16px;margin:0 auto;width:293px;height:48px;border-radius:5px;background-color:#fff;margin-bottom:10px;}
.box3 .box3-2 uni-text[data-v-3f73cf35]{width:85px;font-size:16px;margin-right:5px;text-align:center;font-weight:700;}
.box3 .box3-2 uni-image[data-v-3f73cf35]{width:22px;height:22px;align-self:center;margin-right:10px;}
/*! CSS Used keyframes */
@-webkit-keyframes once-show{0%{top:0;}}
@keyframes once-show{0%{top:0;}}
@-webkit-keyframes shadow-preload{0%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}100%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}}
@keyframes shadow-preload{0%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}100%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}}
@-webkit-keyframes bamiao{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.2);transform:scale(1.2);}100%{-webkit-transform:scale(1);transform:scale(1);}}
@keyframes bamiao{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.2);transform:scale(1.2);}100%{-webkit-transform:scale(1);transform:scale(1);}}
@-webkit-keyframes hsnagxia-data-v-3f73cf35{0%{-webkit-transform:translateY(0);transform:translateY(0);}25%{-webkit-transform:translateY(5px);transform:translateY(5px);}50%{-webkit-transform:translateY(0);transform:translateY(0);}75%{-webkit-transform:translateY(-5px);transform:translateY(-5px);}to{-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes hsnagxia-data-v-3f73cf35{0%{-webkit-transform:translateY(0);transform:translateY(0);}25%{-webkit-transform:translateY(5px);transform:translateY(5px);}50%{-webkit-transform:translateY(0);transform:translateY(0);}75%{-webkit-transform:translateY(-5px);transform:translateY(-5px);}to{-webkit-transform:translateY(0);transform:translateY(0);}}