/*! CSS Used from: /h5/static/index.2da1efab.css */
uni-modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;display:block;box-sizing:border-box;}
uni-modal .uni-modal{position:fixed;z-index:999;width:80%;max-width:300px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fff;text-align:center;border-radius:3px;overflow:hidden;}
uni-modal .uni-modal *{box-sizing:border-box;}
uni-modal .uni-modal__bd{word-wrap:break-word;word-break:break-all;white-space:pre-wrap;}
uni-modal .uni-modal__bd{padding:1.3em 1.6em 1.3em;min-height:40px;font-size:15px;line-height:1.4;color:#999;max-height:400px;overflow-x:hidden;overflow-y:auto;}
uni-modal .uni-modal__ft{position:relative;line-height:48px;font-size:18px;display:-webkit-box;display:-webkit-flex;display:flex;}
uni-modal .uni-modal__ft:after{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5);}
uni-modal .uni-modal__btn{display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);position:relative;cursor:pointer;}
uni-modal .uni-modal__btn:active{background-color:#eee;}
uni-modal .uni-modal__btn:after{content:" ";position:absolute;left:0;top:0;width:1px;bottom:0;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5);}
uni-modal .uni-modal__btn:first-child:after{display:none;}
uni-modal .uni-modal__btn_default{color:#353535;}
uni-modal .uni-modal__btn_primary{color:#007aff;}
uni-actionsheet{display:block;box-sizing:border-box;}
uni-actionsheet .uni-actionsheet{position:fixed;left:6px;right:6px;bottom:6px;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:999;visibility:hidden;-webkit-transition:visibility .3s,-webkit-transform .3s;transition:visibility .3s,-webkit-transform .3s;transition:transform .3s,visibility .3s;transition:transform .3s,visibility .3s,-webkit-transform .3s;}
uni-actionsheet .uni-actionsheet *{box-sizing:border-box;}
uni-actionsheet .uni-actionsheet__action,uni-actionsheet .uni-actionsheet__menu{border-radius:5px;background-color:#fcfcfd;}
uni-actionsheet .uni-actionsheet__action{margin-top:6px;}
uni-actionsheet .uni-actionsheet__cell{position:relative;padding:10px 6px;text-align:center;font-size:18px;text-overflow:ellipsis;overflow:hidden;cursor:pointer;}
uni-actionsheet .uni-actionsheet__cell:before{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #e5e5e5;color:#e5e5e5;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5);}
uni-actionsheet .uni-actionsheet__cell:active{background-color:#ececec;}
uni-actionsheet .uni-actionsheet__cell:first-child:before{display:none;}
@media screen and (min-width:500px) and (min-height:500px){
.uni-mask.uni-actionsheet__mask{background:none;}
uni-actionsheet .uni-actionsheet{width:300px;left:50%;right:auto;top:50%;bottom:auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;-webkit-transition:opacity .3s,visibility .3s;transition:opacity .3s,visibility .3s;}
uni-actionsheet .uni-actionsheet__menu{box-shadow:0 0 20px 5px rgba(0,0,0,.3);}
uni-actionsheet .uni-actionsheet__action{display:none;}
}
*{margin:0;-webkit-tap-highlight-color:transparent;}
body,html{-webkit-user-select:none;user-select:none;width:100%;height:100%;}
body{overflow-x:hidden;}
body,uni-page-body{background-color:var(--UI-BG-0);color:var(--UI-FG-0);}
.uni-mask{position:fixed;z-index:999;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.5);}
html{--UI-BG:#fff;--UI-BG-1:#f7f7f7;--UI-BG-2:#fff;--UI-BG-3:#f7f7f7;--UI-BG-4:#4c4c4c;--UI-BG-5:#fff;--UI-FG:#000;--UI-FG-0:rgba(0,0,0,0.9);--UI-FG-HALF:rgba(0,0,0,0.9);--UI-FG-1:rgba(0,0,0,0.5);--UI-FG-2:rgba(0,0,0,0.3);--UI-FG-3:rgba(0,0,0,0.1);}
uni-app{width:100%;height:100%;}
uni-app{display:block;box-sizing:border-box;}
uni-page-wrapper{display:block;height:100%;position:relative;}
uni-page-body{display:block;box-sizing:border-box;width:100%;}
uni-page{display:block;width:100%;height:100%;}
uni-image{width:320px;height:240px;display:inline-block;overflow:hidden;position:relative;}
uni-image>div,uni-image>img{width:100%;height:100%;}
uni-image>img{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;display:block;position:absolute;top:0;left:0;opacity:0;}
uni-view{display:block;}
@media (prefers-color-scheme:dark){
html{--UI-BG-CLOLOR-ACTIVE:#373737;--UI-BORDER-CLOLOR-1:#373737;--UI-BG:#000;--UI-BG-0:#191919;--UI-BG-1:#1f1f1f;--UI-BG-2:#232323;--UI-BG-3:#2f2f2f;--UI-BG-4:#606060;--UI-BG-5:#2c2c2c;--UI-FG:#fff;--UI-FG-0:hsla(0,0%,100%,0.8);--UI-FG-HALF:hsla(0,0%,100%,0.6);--UI-FG-1:hsla(0,0%,100%,0.5);--UI-FG-2:hsla(0,0%,100%,0.3);--UI-FG-3:hsla(0,0%,100%,0.05);}
.uni-mask{background:rgba(0,0,0,.6);}
}
@media (prefers-color-scheme:dark){
uni-actionsheet .uni-actionsheet__action,uni-actionsheet .uni-actionsheet__menu{background-color:var(--UI-BG-2);}
uni-actionsheet .uni-actionsheet__cell:active{background-color:var(--UI-BG-CLOLOR-ACTIVE);}
uni-actionsheet .uni-actionsheet__cell:before{border-top-color:var(--UI-BORDER-CLOLOR-1);color:var(--UI-BORDER-CLOLOR-1);}
}
@media (prefers-color-scheme:dark){
uni-modal .uni-modal{color:var(--UI-FG-0);background-color:var(--UI-BG-2);}
uni-modal .uni-modal__bd{color:var(--UI-FG-1);}
uni-modal .uni-modal__btn:active{color:#aaa;background-color:var(--UI-BG-CLOLOR-ACTIVE);}
uni-modal .uni-modal__ft:after,uni-modal .uni-modal__btn:after{color:var(--UI-BORDER-CLOLOR-1);border-color:var(--UI-BORDER-CLOLOR-1);}
}
@media (prefers-color-scheme:dark){
uni-page-body{background-color:#191919;color:hsla(0,0%,100%,0.8);}
}
body::after{position:fixed;content:'';left:-1000px;top:-1000px;-webkit-animation:shadow-preload .1s;-webkit-animation-delay:3s;animation:shadow-preload .1s;animation-delay:3s;}
/*! CSS Used from: Embedded */
uni-view{color:#333;}
img,uni-image{pointer-events:none;}
body{max-width:436px;margin:auto!important;}
.hdhx{-webkit-animation:bamiao 2s linear infinite;animation:bamiao 2s linear infinite;}
/*! CSS Used from: Embedded */
.ckakandd[data-v-345802b5]{text-decoration:underline;color:#f7db9f;padding:26px 0;}
.imagx[data-v-345802b5]{opacity:0;}
.dwimg3[data-v-345802b5]{-webkit-animation:one-imgopacity-data-v-345802b5 1s 2s linear,shangxiad-data-v-345802b5 3s 1s linear infinite;animation:one-imgopacity-data-v-345802b5 1s 2s linear,shangxiad-data-v-345802b5 3s 1s linear infinite;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.dwimg2[data-v-345802b5]{-webkit-animation:one-imgopacity-data-v-345802b5 1s 1s linear,shangxiad-data-v-345802b5 2s 1s linear infinite;animation:one-imgopacity-data-v-345802b5 1s 1s linear,shangxiad-data-v-345802b5 2s 1s linear infinite;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.dwimg1[data-v-345802b5]{-webkit-animation:one-imgopacity-data-v-345802b5 1s linear,shangxiad-data-v-345802b5 3.5s 0s linear infinite;animation:one-imgopacity-data-v-345802b5 1s linear,shangxiad-data-v-345802b5 3.5s 0s linear infinite;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
/*! CSS Used from: Embedded */
body.pages-taluo-index uni-page-body{background:#1c121e;}
body.pages-taluo-index{background:#1c121e;}
.dwimg3[data-v-345802b5]{width:38px;height:38px;position:absolute;top:46.5%;left:80%;}
.dwimg2[data-v-345802b5]{width:38px;height:38px;position:absolute;top:56.5%;left:59%;}
.dwimg1[data-v-345802b5]{width:38px;height:38px;position:absolute;top:50%;left:6%;}
.image6[data-v-345802b5]{width:100%;height:100%;}
.box6[data-v-345802b5]{width:357px;height:519px;margin-top:21px;}
.image5[data-v-345802b5]{width:100%;height:100%;}
.box5[data-v-345802b5]{width:357px;height:298px;margin-top:21px;}
.image4[data-v-345802b5]{width:100%;height:100%;}
.box4[data-v-345802b5]{width:330px;height:55px;margin-top:21px;}
.image3[data-v-345802b5]{width:100%;height:100%;}
.box3[data-v-345802b5]{width:357px;height:272px;}
.image2[data-v-345802b5]{width:100%;height:100%;}
.box2[data-v-345802b5]{width:336px;height:63px;margin-top:16px;}
.headbox[data-v-345802b5]{width:100%;height:auto;padding-bottom:50px;background-color:#1c121e;margin:0px auto;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.box1[data-v-345802b5]{width:100%;height:auto;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.image1[data-v-345802b5]{width:398px;height:515px;position:relative;}
.box1-1[data-v-345802b5]{width:398px;height:515px;position:relative;}
/*! CSS Used keyframes */
@-webkit-keyframes shadow-preload{0%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}100%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}}
@keyframes shadow-preload{0%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}100%{background-image:url(https://cdn.dcloud.net.cn/img/shadow-grey.png);}}
@-webkit-keyframes bamiao{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.2);transform:scale(1.2);}100%{-webkit-transform:scale(1);transform:scale(1);}}
@keyframes bamiao{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.2);transform:scale(1.2);}100%{-webkit-transform:scale(1);transform:scale(1);}}
@-webkit-keyframes one-imgopacity-data-v-345802b5{0%{opacity:0;}20%{opacity:.2;}40%{opacity:.4;}60%{opacity:.5;}80%{opacity:.6;}90%{opacity:.7;}95%{opacity:.8;}100%{opacity:1;}}
@keyframes one-imgopacity-data-v-345802b5{0%{opacity:0;}20%{opacity:.2;}40%{opacity:.4;}60%{opacity:.5;}80%{opacity:.6;}90%{opacity:.7;}95%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes shangxiad-data-v-345802b5{0%{-webkit-transform:translateY(5px);transform:translateY(5px);}50%{-webkit-transform:translateY(0);transform:translateY(0);}100%{-webkit-transform:translateY(5px);transform:translateY(5px);}}
@keyframes shangxiad-data-v-345802b5{0%{-webkit-transform:translateY(5px);transform:translateY(5px);}50%{-webkit-transform:translateY(0);transform:translateY(0);}100%{-webkit-transform:translateY(5px);transform:translateY(5px);}}