body {
  padding-top: 48px !important;
  background-color: #fff !important;
}


.header_top {
  position: absolute;
  background-color: #f5f5f5;
  height: 48px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;

}

.header_top a {
  text-decoration: none;
  color: #000;
}

.w1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.top_rg {
  float: right;
  line-height: 48px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.top_rg a {
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #000 !important;
}





.top_rg .icons {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  display: flex;
  margin-right: 3px;
}

.top_rg i {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.top_rg .home_icon {
  background-image: url('/statics/new/images/home.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg .report_icon {
  background-image: url('/statics/new/images/report.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg .service_icon {
  background-image: url('/statics/new/images/service.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg .user_icon {
  background-image: url('/statics/new/images/user.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}


.top_rg .active .home_icon {
  background-image: url('/statics/new/images/home_hover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg .active .report_icon {
  background-image: url('/statics/new/images/report_hover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg  .active .service_icon {
  background-image: url('/statics/new/images/service_hover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_rg .active .user_icon {
  background-image: url('/statics/new/images/user_hover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}



.top_rg .lang {
  position: relative;
  width: 130px;
  z-index: 1;
}

.top_rg .lang .switching {
  border: 1px solid #b5b1b1;
  border-radius: 20px;
  width: 100%;
  height: 28px;
  padding: 0 10px 0 0;
  width: 100%;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.top_rg .lang .choose {
  position: absolute;
  width: 110px;
  top: 28px;
  left: 10px;
  background-color: #f5f5f5;
  border: 1px solid #b5b1b1;
  border-top: 0;
  z-index: 200;
  border-radius: 0px 0px 6px 6px;
  display: none;
  padding: 5px 0;
}

.top_rg .lang .choose .item {
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.top_rg .lang .icons {
  background-color: #b5b1b1;
}

.top_rg .lang .toggle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid #b5b1b1;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.top_rg .lang_icon {
  width: 30px !important;
  height: 30px !important;
  background-image: url('/statics/new/images/lang.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.tabBar {
  display: none;
}

#translate {
  display: none;
}

@media screen and (max-width: 992px) {

  body {
    padding-top: 0 !important;

  }

  .header_top {
    display: none;
  }

  .tabBar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999;
    border-top: 1px solid #f3f3f3;
    padding: 5px 0 5px 0;

  }

  .tabBar .item {
    width: 100%;
    text-align: center;
  }

  .tabBar a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
  }

  .tabBar .active span {
    color: #b35e64 !important;
  }

  .tabBar .item i {
    display: block;
    width: 25px;
    height: 25px;
  }

  .tabBar .item span {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-align: center;
    color: #b0b0b0;
  }

  .tabBar .home_icon {
    background-image: url('/statics/new/images/home.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tabBar .report_icon {
    background-image: url('/statics/new/images/report.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tabBar .active .home_icon {
    background-image: url('/statics/new/images/home_hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tabBar .active .report_icon {
    background-image: url('/statics/new/images/report_hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }



  .tabBar .service_icon {
    background-image: url('/statics/new/images/service.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }



  .tabBar .user_icon {
    background-image: url('/statics/new/images/user.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tabBar .active .service_icon {
    background-image: url('/statics/new/images/service_hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tabBar .active .user_icon {
    background-image: url('/statics/new/images/user_hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

}

.top_rg .active {
  color: #b35e64 !important;
}

.alert-marquee {
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
  background: #777;
  background: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.alert-marquee .inner {
  position: absolute;
  left: 100%;
  color: #fff;
  font-size: 0.30rem;
}

@media screen and (max-width: 1222px) {
  .guanzhuwx {
    display: none;
  }
}

.guanzhuwx_1 {
  left: 10%;
  top: 50%;
  margin-top: -200px;
  position: fixed;
  width: 10%;
  opacity: 0.5;
  background: #fff;
  padding-bottom: 10px;
  padding-top: 5px;
}

.guanzhuwx_2 {
  right: 10%;
  top: 50%;
  margin-top: -200px;
  position: fixed;
  width: 10%;
  opacity: 0.01;
  background: #fff;
  padding-bottom: 10px;
  padding-top: 5px;
}

.guanzhuwx img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.guanzhuwx p {
  font-size: 16px;
  text-align: center;
  color: #00b98d;
  text-decoration: none;
}

.guanzhuwx_1:hover {
  opacity: 1;
}

.guanzhuwx_2:hover {
  opacity: 1;
}

.public_pp_tit {
  font-weight: 700;
  font-size: 20px;
}

.pay .pay-type li .icon-vip_pay {
  background: url(../image/vip_pay.png) no-repeat;
  background-size: 100%;
}

.pay .pay-type li .icon-extpay {
  background: url(../image/extpay.png) no-repeat;
  background-size: 100%;
}

.zffs-list .plf span.zf-extpay {
  background-image: url(../image/extpay.png);
}

.zffs-list .plf span.zf-vippay {
  background-image: url(../image/vip_pay.png);
}

.public_pay_box .m-vippay {
  background: url(../image/m_vip_pay.png) center center no-repeat #000000;
  background-size: 120px;
}

.public_pay_box .m-extpay {
  background: url(../image/m_extpay.png) center center no-repeat #FFB521;
  background-size: 120px;
}

.common-pay-lists .common-pay-item li .extpay {
  background: transparent url(../image/extpay.png) center no-repeat;
  background-size: 1.25333rem 1.25333rem;
}

.common-pay-lists .common-pay-item li .vip_pay {
  background: transparent url(../image/vip_pay.png) center no-repeat;
  background-size: 1.25333rem 1.25333rem;
}

.tuiguang_1 {
  position: fixed;
  right: 10px;
  bottom: 50%;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 9999;
  background-attachment: fixed;
  background: url(../image/qiandai.png) no-repeat;
  background-size: 100%;
  background-position: center center;
  -webkit-animation: icon-bounce 4s infinite;
  -moz-animation: icon-bounce 0.5s infinite;
  -o-animation: icon-bounce 0.5s infinite;
  animation: icon-bounce 0.5s infinite;
  text-decoration: none;
}

.tuiguang_1 em {
  color: #ff6a48;
  display: block;
  padding-top: 45px;
  font-size: 12px;
}

@keyframes icon-bounce {

  0%,
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@-webkit-keyframes icon-bounce {

  0%,
  75%,
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  80% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  85% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  90% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  95% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@-moz-keyframes icon-bounce {

  0%,
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@-o-keyframes icon-bounce {

  0%,
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}