

.contact_card {
  display: flex;
  justify-content: center;
  margin: 100px auto 50px;
}

.contact_card_item {
  margin: 0 15px;
}

.contact_card_item .card_title {
  width: 232px;
  height: 93px;
  margin: 0 auto 50px;
  display: block;
}

.contact_card_item .card_content {
  width: 490px;
  height: 194px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 30px;
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

.contact_card_item .card_sectitle {
  width: 106px;
  height: 28px;
} 

.contact_way {
  display: flex;
  align-items: center;
  margin: 20px 0 18px;
}

.contact_way .way_label {
  display: flex;
  align-items: center;
  width: 102px;
}

.contact_way .way_label img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact_way .way_conent {
  font-weight: var(--fontWeight);
}

.m-0 {
  margin: 0;
}